 

/* @import "swiper/css/bundle"; */
/* @import "react-modal-video/css/modal-video.css";   */


@import "../../public/assets/css/bootstrap.css";
@import "../../public/assets/css/bootstrap-icons.css";
/* @import "/assets/css/plugins.css"; */
@import "../../public/assets/css/ff-1.css";
@import "../../public/assets/css/style.css";


body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

  